/* Codemirror wrap lines by David Vargas (there are some quirks) */

.CodeMirror-line {
    white-space: pre-wrap !important;
    word-break: break-word !important;
}

.CodeMirror-sizer {
    min-width: unset !important;
    border-right: 0px !important;
    padding-right: 15px !important;
}

.CodeMirror-scroll {
    overflow-x: unset !important;
    margin-right: 0px !important;
}
