
/* Hide graph button in top bar menu area */

.bp3-button.bp3-minimal.bp3-icon-graph.bp3-small {
    display: none;
}

/* Hide Roam Logo */

#roam-sidebar-logo {
    display: none;
}

/* ***** SEARCH BAR RESULTS FORMATTING ***** */

/* page results from search bar */

.rm-search-title {
    color: black !important;
}

/* Search results text */

li.rm-search-list-item>span {
    color: initial !important;
}

/* Search results found text highlight */

span[style*="background-color: yellow"] {
    background-color: lemonchiffon !important;
    color: initial !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    /*font-weight: bold !important;*/
}

/* search box for block ref and page links move to left (beginning of block) */

/* .bp3-elevation-3 {
    max-height: 500px !important;
    max-width: 100% !important;
    width: 100% !important;
    left: -6px !important;
    /* This moves the search box back to left in line with the bullets so doesn't overflow when towards right edge of screen 
}

.rm-autocomplete-result {
    word-break: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
COMMENTED OUT GIVEN ROAM CHANGE 10/10/21
*/

/* block ref stuff */

/* Undo the default Roam css on block refs */

.rm-block-ref {
    padding: unset;
    margin: unset;
    display: unset;
    border-bottom: unset;
    cursor: alias;
}

/* Limited this down to block refs excluding tables (weird attribute table issue where it adds attribute children blocks as block refs) */

.rm-block-ref.dont-focus-block {
    color: var(--block-reference-text) !important;
    border-bottom: none !important;
    border-right-color: #0079FF !important;
    border-right-width: 1px !important;
    border-right-style: dashed !important;
    padding-right: 5px !important;
    border-left-color: #0079FF !important;
    border-left-width: 1px !important;
    border-left-style: dashed !important;
    padding-left: 5px !important;
}

.rm-block-ref.dont-focus-block:hover {
    background-color: var(--block-ref-hover-bg) !important;
    border-bottom: unset !important;
}

/* get rid of the weird SPAN background color in attribute table cells */

div.roam-table span[style*="position: absolute; opacity: 0.1; background-color: rgb(14, 90, 138); inset: 0px;"] {
    background-color: unset !important;
}

/* The bullet background color on closed bullets with children */

.rm-bullet.rm-bullet--closed .rm-bullet__inner {
    border: var(--closed-bullet-color);
}

/* Updates to highlighted text in Roam with ^^text^^ */

.rm-highlight {
    margin: unset;
    padding: 2px 4px;
}

del, strike, s {
    color: grey;
}

/* Inline Code */

code {
    color: var(--code-color);
}

/* All of Murf's added icons / buttons */

.murf-icon {
    margin-top: unset; /* 2px; */
    margin-left: unset; /* 8px; */
    margin-right: unset; /* -6px; */
}

/* Rainbow Indentation by Abhay from Dracula (tweaked by Murf) */

/* https://abhayprasanna.github.io/rainbow-indent.css */

/* https://abhayprasanna.github.io/rainbow-indent-core.css */

:root {
    /* My colors */
    --box-shadow-values: none;
    /* Set to "none" to remove shadow... or 25px 0px 20px -30px; */
    --indent1: springgreen;
    --indent2: #FF0900;
    --indent3: #5BC9D7;
    --indent4: violet;
    --indent5: orange;
    --indent6: #01A80E;
    --indent7: #0079FF;
    --indent8: pink;
    --indent9: black;
    --indent10: springgreen;
    --indent11: #FF0900;
    --indent12: #5BC9D7;
    --indent13: violet;
    --indent14: orange;
    --indent15: #01A80E;
    --indent16: #0079FF;
    --indent17: pink;
    --indent18: black;
    /* Abhay colors
    --indent1: #5F388BAD;
    --indent2: #4A57BAAD;
    --indent3: #48864DAD;
    --indent4: #A7A15AAD;
    --indent5: #AD7E48AD;
    --indent6: #A5494FAD;
    --indent7: #634071AD;
    --indent8: #303472AD;
    --indent9: #395C45AD;
    --indent10: #7C7948AD;
    --indent11: #7D5039AD;
    --indent12: #A5494FAD;
    --indent13: #706597AD;
    --indent14: #657D91AD;
    --indent15: #6D8D76AD;
    --indent16: #A09A84AD;
    --indent17: #987174AD;
    --indent18: #8B5F78AD;
  */
}

/* Level 1 */

.rm-level-1>div, .rm-level-19>div, .rm-level-37>div, .rm-inline-references>.rm-multibar {
    border-right-color: var(--indent1);
    box-shadow: var(--box-shadow-values) var(--indent1) inset;
}

/* Level 2 */

.rm-level-2>div, .rm-level-20>div, .rm-level-38>div {
    border-right-color: var(--indent2);
    box-shadow: var(--box-shadow-values) var(--indent2) inset;
}

/* Level 3 */

.rm-level-3>div, .rm-level-21>div, .rm-level-39>div {
    border-right-color: var(--indent3);
    box-shadow: var(--box-shadow-values) var(--indent3) inset;
}

/* Level 4 */

.rm-level-4>div, .rm-level-22>div, .rm-level-40>div {
    border-right-color: var(--indent4);
    box-shadow: var(--box-shadow-values) var(--indent4) inset;
}

/* Level 5 */

.rm-level-5>div, .rm-level-23>div, .rm-level-41>div {
    border-right-color: var(--indent5);
    box-shadow: var(--box-shadow-values) var(--indent5) inset;
}

/* Level 6 */

.rm-level-6>div, .rm-level-24>div, .rm-level-42>div {
    border-right-color: var(--indent6);
    box-shadow: var(--box-shadow-values) var(--indent6) inset;
}

/* Level 7 */

.rm-level-7>div, .rm-level-25>div, .rm-level-43>div {
    border-right-color: var(--indent7);
    box-shadow: var(--box-shadow-values) var(--indent7) inset;
}

/* Level 8 */

.rm-level-8>div, .rm-level-26>div, .rm-level-44>div {
    border-right-color: var(--indent8);
    box-shadow: var(--box-shadow-values) var(--indent8) inset;
}

/* Level 9 */

.rm-level-9>div, .rm-level-27>div, .rm-level-45>div {
    border-right-color: var(--indent9);
    box-shadow: var(--box-shadow-values) var(--indent9) inset;
}

/* Level 10 */

.rm-level-10>div, .rm-level-28>div, .rm-level-46>div {
    border-right-color: var(--indent10);
    box-shadow: var(--box-shadow-values) var(--indent10) inset;
}

/* Level 11 */

.rm-level-11>div, .rm-level-29>div, .rm-level-47>div {
    border-right-color: var(--indent11);
    box-shadow: var(--box-shadow-values) var(--indent11) inset;
}

/* Level 12 */

.rm-level-12>div, .rm-level-30>div, .rm-level-48>div {
    border-right-color: var(--indent12);
    box-shadow: var(--box-shadow-values) var(--indent12) inset;
}

/* Level 13 */

.rm-level-13>div, .rm-level-31>div, .rm-level-49>div {
    border-right-color: var(--indent13);
    box-shadow: var(--box-shadow-values) var(--indent13) inset;
}

/* Level 14 */

.rm-level-14>div, .rm-level-32>div, .rm-level-50>div {
    border-right-color: var(--indent14);
    box-shadow: var(--box-shadow-values) var(--indent14) inset;
}

/* Level 15 */

.rm-level-15>div, .rm-level-33>div, .rm-level-51>div {
    border-right-color: var(--indent15);
    box-shadow: var(--box-shadow-values) var(--indent15) inset;
}

/* Level 16 */

.rm-level-16>div, .rm-level-34>div, .rm-level-52>div {
    border-right-color: var(--indent16);
    box-shadow: var(--box-shadow-values) var(--indent16) inset;
}

/* Level 17 */

.rm-level-17>div, .rm-level-35>div, .rm-level-53>div {
    border-right-color: var(--indent17);
    box-shadow: var(--box-shadow-values) var(--indent17) inset;
}

/* Level 18 */

.rm-level-18>div, .rm-level-36>div, .rm-level-54>div {
    border-right-color: var(--indent18);
    box-shadow: var(--box-shadow-values) var(--indent18) inset;
}
