/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */
/* THESE ARE THINGS THAT MURF USES BUT ARE EXTREMELY OPTIONAL & YOU MAY NOT LIKE */
/* ----------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------- */

/* Codemirror wrap lines by David Vargas (there are some quirks) */

.CodeMirror-line {
    white-space: pre-wrap !important;
    word-break: break-word !important;
}
.CodeMirror-sizer {
    min-width: unset !important;
    border-right: 0px !important;
    padding-right: 15px !important;
}
.CodeMirror-scroll {
    overflow-x: unset !important;
    margin-right: 0px !important;
}

/* hide intercom chat */

.intercom-lightweight-app {
    display: none;
}


/* Hide page / path in right sidebar for mentions / references */
/* IN GENERAL BELOW, HAD TO DO ALOT OF THE > SPECIFIC HARDCODING TO AVOID APPLYING TO QUERY RESULTS IN THE SIDE BAR */
/* Change chevron path separator color */

#right-sidebar .rm-ref-page-view .rm-zoom .bp3-icon-chevron-right {
    color: red;
}
/* Hide page title and path */
#right-sidebar div.rm-reference-container>div.rm-mentions.refs-by-page-view>.rm-ref-page-view>.flex-h-box.rm-title-arrow-wrapper span {
    height: 1px;
    color: transparent;
}
/* Add light grey dashed line to separate pages & to help know where to hover */
#right-sidebar div.rm-reference-container>div.rm-mentions.refs-by-page-view>.rm-ref-page-view>.flex-h-box.rm-title-arrow-wrapper {
    border-bottom: 1px dashed lightgrey;
}
/* Hide parent path until hover */
#right-sidebar div.rm-reference-container>div.rm-mentions.refs-by-page-view>.rm-ref-page-view>div>div>div.rm-reference-item>div>div.rm-zoom {
    display: none;
}
#right-sidebar div.rm-reference-container>div.rm-mentions.refs-by-page-view>.rm-ref-page-view>div>div>div.rm-reference-item {
    position: relative;
    right: 25px;
}
/* Show the path and page title on hover */
#right-sidebar div.rm-reference-container>div.rm-mentions.refs-by-page-view>.rm-ref-page-view>div>div>div.rm-reference-item:hover>div>div.rm-zoom {
    display: flex;
    padding-left: 5px;
    padding-bottom: 10px;
}
#right-sidebar div.rm-reference-container>div.rm-mentions.refs-by-page-view>.rm-ref-page-view>.flex-h-box.rm-title-arrow-wrapper:hover, #right-sidebar div.rm-reference-container>div.rm-mentions.refs-by-page-view>.rm-ref-page-view>.flex-h-box.rm-title-arrow-wrapper:hover span {
    height: unset;
    color: unset;
    border-bottom: unset;
}
